@import "../layout.css";
@import "../components.css";
@import "../form.css";

.container{
    align-items: center;
    justify-content: center;
}
.container .cadastro{
    min-width: 350px;
}
.cadastro .bloco{
    padding: 30px;
    box-shadow: none;
    margin-bottom: 20px;
    background-color: white;
}