<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link href="../css/confFontawesome.css" rel="stylesheet">
    <link href="../css/fontawesome-free-6.0.0/css/all.min.css" rel="stylesheet">
    <link href="../css/views/index.css" rel="stylesheet">
    <script src="../js/jquery-3.6.0.slim.min.js"></script>
    <script src="../js/dadosBasicos.js"></script>
    <script src="../js/storage.js"></script>
    <script src="../js/validacoes.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/views/index.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row-header first-row-header">

                <div class="col-header-first not-sel">
                    <div class="logo-mini">
                        <img src="../img/imgPage.png">
                    </div>
                    <div class="logo-marca">
                        ELETRIC WORLD
                    </div>
                </div>
                <div class="col-header-large">
    
                    <div class="row-header">
                        <div class="header-center">
                            <div class="input-search">
                                <input type="text" placeholder="Search...">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="header-right not-sel">
                            Gostaria de realizar uma comprar?
                            <br>
                            Então crie uma conta aqui!
                        </div>
                    </div>
                    <div class="row-header">
                        <div class="header-center not-sel">
                            <div class="btn-list">
                                <div class="btn-list-label">Categorias</div>
                                <div class="btn-list-bloco bloco">
                                    <div class="btn-list-bloco-overflow">
                                        <div class="btn-list-bloco-item">Novidade</div>
                                        <div class="btn-list-bloco-item">Promoção</div>
                                        <div class="btn-list-bloco-item">Ordenar menor preço</div>
                                        <div class="btn-list-bloco-item">Ordenar maior preço</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="btn-list itens">
                                <div class="btn-list-label">
                                    <div class="num-list-label not-sel">3</div>
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="btn-list-bloco bloco">
                                    <div class="btn-list-bloco-overflow not-sel">

                                        <!-- FAZER UMA FUNÇÃO PARA CRIAR ESTE TRECHO DE HTML -->
                                        <div class="card-mini-produto bloco">
                                            <div class="card-mini-tag not-sel">Promoção</div>
                                            <div class="card-mini-img not-sel">
                                                <img src="../img/caloi_eletrica.png">
                                            </div>
                                            <div class="card-mini-preco">
                                                <div class="card-mini-preco-total">R$ 100,00</div>
                                                em
                                                <div class="card-mini-preco-parcelado">x10 R$ 10,00 sem juros</div>
                                            </div>
                                            <div class="card-mini-info">
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                            </div>
                                            <div class="card-mini-btn not-sel" title="Remover do Carrinho!">
                                                <button>
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-mini-produto bloco">
                                            <div class="card-mini-tag not-sel">Promoção</div>
                                            <div class="card-mini-img not-sel">
                                                <img src="../img/caloi_eletrica.png">
                                            </div>
                                            <div class="card-mini-preco">
                                                <div class="card-mini-preco-total">R$ 100,00</div>
                                                em
                                                <div class="card-mini-preco-parcelado">x10 R$ 10,00 sem juros</div>
                                            </div>
                                            <div class="card-mini-info">
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                            </div>
                                            <div class="card-mini-btn not-sel" title="Remover do Carrinho!">
                                                <button>
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-mini-produto bloco">
                                            <div class="card-mini-tag not-sel">Promoção</div>
                                            <div class="card-mini-img not-sel">
                                                <img src="../img/caloi_eletrica.png">
                                            </div>
                                            <div class="card-mini-preco">
                                                <div class="card-mini-preco-total">R$ 100,00</div>
                                                em
                                                <div class="card-mini-preco-parcelado">x10 R$ 10,00 sem juros</div>
                                            </div>
                                            <div class="card-mini-info">
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                                Notebook Acer Aspire 5 A515-54 prateada 15.6", 
                                                Intel Core i5 10210U  8GB de RAM 512GB SSD, 
                                                Intel UHD Graphics 620 60 Hz 1920x1080px Windows 10 Home
                                            </div>
                                            <div class="card-mini-btn not-sel" title="Remover do Carrinho!">
                                                <button>
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- FAZER UMA FUNÇÃO PARA CRIAR ESTE TRECHO DE HTML -->
                                        <div class="empty-list bloco not-sel"> Carrinho vazio! </div>
                                    </div>
                                    <div class="btn-buy-cart not-sel">
                                        <button>Finalizar Compra</button>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-list not-sel">
                                <div class="btn-list-label">
                                    <!-- <div class="num-list-label not-sel">1</div> -->
                                    <i class="fa fa-user-cog" title="login/logout"></i>
                                </div>
                                <div class="btn-list-bloco bloco">
                                    <div class="btn-list-bloco-overflow">
                                        <div class="btn-list-bloco-item disabled">
                                            <i class="fa fa-user-lock"></i>
                                            Alterar Senha
                                        </div>
                                        <div class="btn-list-bloco-item disabled">
                                            <i class="fa fa-user-edit"></i>
                                            Alterar Informações
                                        </div>
                                        <div class="btn-list-bloco-item" onclick="logout()">
                                            <i class="fa fa-sign-out-alt"></i>
                                            Deslogar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="body-principal fa-beat"> <!-- DINAMICO --> </div>
            <div class="body-info-produto fa-beat">
                <!-- FUNCIONALIDADE NÃO CONCLUIDA -->
                <!-- AUTOMATIZAR -->
                <div class="body-info-header">
                    <div class="body-info-left">
                        <button class="btn-voltar">
                            <i class="fa fa-chevron-left"></i>
                            Voltar
                        </button>
                    </div>
                </div>
                <div class="body-info-body">
                    <div class="body-info-left">
                        <div class="body-info-overflow">
                            <div class="img-produto">
                                <img src="../img/caloi_eletrica.png">
                            </div>
                            <div class="carac-produto">
                                <div class="title-carac-produto">Características do produto</div>
                                <div class="list-carac-produto">
                                    <!-- AUTOMATIZAR -->
                                    <div class="carac-categoria">
                                        <div class="title-carac-categoria">Características gerais</div>
                                        <div class="list-carac-categoria">
                                            <div class="item-carac-categoria">
                                                <div class="item-carac-categoria-label">Marca</div>
                                                <div class="item-carac-categoria-value">Dell</div>
                                            </div>
                                            <div class="item-carac-categoria">
                                                <div class="item-carac-categoria-label">Linha</div>
                                                <div class="item-carac-categoria-value">G15</div>
                                            </div>
                                            <div class="item-carac-categoria">
                                                <div class="item-carac-categoria-label">Linha</div>
                                                <div class="item-carac-categoria-value">G15</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carac-categoria">
                                        <div class="title-carac-categoria">Sistema operacional</div>
                                        <div class="list-carac-categoria">
                                            <div class="item-carac-categoria">
                                                <div class="item-carac-categoria-label">Nome do sistema operacional</div>
                                                <div class="item-carac-categoria-value">Windows 11 Home em Português (Brasil)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- AUTOMATIZAR -->
                                </div>
                            </div>
                            <div class="desc-produto">
                                <div class="title-desc-produto">Descrição</div>
                                <div class="text-desc-produto">
                                    jevbruenvbioernbiorenb
                                    <br>
                                    etbitenbiotnbionbitnbin
                                    <br>
                                    ebnteiobnrtienbtirnbtri
                                    <br>
                                    errinbrtionbirtnbrtinbrti
                                    <br>
                                    etbnrtionbrtinbrtinbr
                                    <br>
                                    etbnrtionbrtinbrtinbr
                                    <br>
                                    etbnrtionbrtinbrtinbr
                                    <br>
                                    etbnrtionbrtinbrtinbr
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-info-right">
                        <div>Informações Basicas</div>
                        <button>carrinho</button>
                    </div>
                </div>
                <!-- AUTOMATIZAR -->
                <!-- FUNCIONALIDADE NÃO CONCLUIDA -->
            </div>
            <div class="body-transicao">
                <i class="fa fa-spinner fa-4x fa-spin-pulse"></i>
            </div>
        </div>
        <!--
        <div class="page-footer">
            contatos/redes sociais/sobre a aplicacao
        </div>
        -->
    </div>
</body>
</html>