<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link href="../css/views/login.css" rel="stylesheet">
    <script src="../js/jquery-3.6.0.slim.min.js"></script>
    <script src="../js/storage.js"></script>
    <script src="../js/validacoes.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/views/login.js"></script>
</head>
<body>
    <div class="container">
        <div class="login form">
            <div class="logo-default"> ELETRIC WORLD </div>

            <div class="bloco">

                <div class="bloco-title"> Fazer login </div>

                <div class="form">
                    <div class="item-form">
                        <div class="form-label">Usuário</div>
                        <div class="form-input">
                            <input id="usuario" type="text" placeholder="Usuário">
                            <div class="form-input-error"></div>
                        </div>
                    </div>
    
                    <div class="item-form">
                        <div class="form-label">Senha</div>
                        <div class="form-input">
                            <input id="password" type="password" placeholder="Senha">
                            <div class="form-input-error"></div>
                        </div>
                    </div>
    
                    <div class="item-btn">
                        <button id="btn_logar" type="button">Logar</button>
                    </div>
                </div>

                <div class="bloco-msg"></div>

            </div>
            <div class="item-division">
                <div class="item-division-text">Novo por aqui?</div>
            </div>
            <div class="item-btn">
                <a href="./cadastroUsuario.html">Criar conta no Sistema</a>
            </div>

        </div>
    </div>
</body>
</html>